body{
    background: #2a3942;
    background: linear-gradient(34deg, rgba(42,57,66,1) 0%, rgba(80,84,91,1) 55%);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;

#wrapper{
    width: 50%;
    margin: 150px auto;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 0px rgba(156,156,156,0.56);
    #main-container{
        display:flex;
        justify-content: center;
        //border: 1px solid black;
    }

    #left-container{
        position: relative;
        //border: 5px solid black;
        background: rgb(42,57,66);
        background: linear-gradient(34deg, rgba(42,57,66,1) 0%, rgba(72,76,83,1) 71%);
        width: 60%;
        #text-layer{
            text-align: center;
            position: absolute;
            z-index: 2;
            width: 100%;
            top: 0;
            left: 0;
            opacity: 0.8;
        }
    }
    #login-container{
        width: 80%;
        background-color: whitesmoke;
    }

    table{
        margin: 80px auto;


        td{
            padding: 5px;
        }
      }
}

}