body{
    background-color: whitesmoke;
    font-family: 'Rubik', sans-serif;

    #wrapper{
        width: 50%;
        max-width: 650px;
        margin: 70px auto;
        overflow: hidden;
        border-radius: 25px;
        box-shadow: 0px 0px 20px 0px rgb(156, 156, 156);
        background: #2a3942;
        background: linear-gradient(34deg, rgba(42,57,66,1) 0%, rgba(72,76,83,1) 71%);

        #container-profile{
            
            padding-bottom: 20px;
            padding-top: 60px;

            .user-name{
                font-size: 2em;
            }

            #profile-img{
                position: relative;
                text-align: center;
                .profile-image{
                    position: relative;
                    width: 20%;
                    border-radius: 25px;
                    border: 2px solid whitesmoke;
                }
                .gender-icon{
                    position: absolute;
                    background-color: rgb(236, 202, 4);
                    border-radius: 50%;
                    top: -5%;
                    right: 37%;
                }
            }
            p{
                color: whitesmoke;
                text-align: center;
            }
        }

        #profile-description{
            table{
                //border: 1px solid black;
                border-collapse: collapse;
                margin: 0 auto;
                width: 30%;
                color: rgba(245, 245, 245, 0.5);
                text-align: center;
                td{
                    border-bottom: 1px solid rgba(245, 245, 245, 0.1);
                    width: 40%;
                    padding: 5px;
                }
            }
        }

        #buttons-container{
            //border:1px solid black;
            display: flex;
            justify-content: space-evenly;

            #edit-button,
            #logout-button,
            #home-button{
                width: 100%;
                border: none;
                background-color: rgb(231, 197, 4);
                color: rgba(42,57,66,1);
                border: 2px solid whitesmoke;
                padding: 10px;
                margin:-5px;
                font-weight: 800;
                transition: 0.2s ease-in;
                cursor: pointer;

                &:hover{
                    background-color: rgb(255, 217, 2);
                }
            }
        }

        #social-media{
            width: 20%;
            margin: 30px auto;

            li{
                display: inline;
                padding: 0 5px;
                
                img{
                    transition: 0.2s ease;

                &:hover{
                    transform: translateY(2px);
                }
                }
            }
        }
    }
}